body{
    background-color: rgb(31, 78, 46);
}
h1{
    color: rgb(255, 255, 255);
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
   display: inline;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #666;
}
li a:hover{
    background-color: #111;
}
.active{
    background-color: #04aa6d;
}
main,h1{
   text-align: center; margin: auto; width: 80%; font-size: 150%;
}
p{
    color: white;
}