body{
    background-color: rgb(35, 88, 52);
}
h1{
    color: rgb(255, 255, 255);
    padding-top: 5%;
}
.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
}
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a884e;
    min-width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content li {
    display: block;
    padding: 20px;
}
.dropdown-content li:hover {
    background-color: #111;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #e7e7e7;
    background-color: #1a884e;
    position: fixed;
    top: 0;
    width: 100%;
}
li a{
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
li{
    display: inline;
     float: left;
 }
 li a:hover{
    background-color: #111;
}
main,h1{
   text-align: center; margin: auto; width: 80%; font-size: 150%;
}
p{
    color: white;
}
h2{
    padding-top: 5vw;
    color: white;
    text-align: center;
}
.text-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
pre{
    color: white;
    text-align: center;
}